#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  /* Had to add this because horizontal connections was causing horizontal scroll on the page */
  overflow-x: hidden;
}
